{
  "__merge" : [],
  "defaultBlueprints" : {
    "tier1" : [ 
      { "item" : "autominningdrillitem" },
      { "item" : "smallexplosivechargeitem" },
      { "item" : "smallspikyexplosivechargeitem" },
      { "item" : "explosivelab" },
      { "item" : "mediumexplosivechargeitem" },
      { "item" : "mediumspikyexplosivechargeitem" },
      { "item" : "largeexplosivechargeitem" },
      { "item" : "largespikyexplosivechargeitem" },
      { "item" : "gunpowder" },
      { "item" : "lazerdrillitem" },
      { "item" : "lazerdrillv2item" },
      { "item" : "dematterializer" },
      { "item" : "rocketstonepickaxe" },
      { "item" : "rocketsilverpickaxe" },
      { "item" : "rocketplatinumpickaxe" },
      { "item" : "rocketgoldpickaxe" },
      { "item" : "rocketcopperpickaxe" },
      { "item" : "rocketdiamondpickaxe" },
      { "item" : "rocket" },
      { "item" : "lightorbgun" },
      { "item" : "laserminningmech-chip" },
      { "item" : "minecart-chip" },
      { "item" : "uraniumheater" }
    ]
  }
}
