{
  "__merge" : [],
  "defaultBlueprints" : {
    "__merge" : [],
    "tier1" : [
	  { "item" : "ultiengine" },		
	  { "item" : "wood" },		
	  { "item" : "Rubiumbar" },		
	  { "item" : "Ceruliumbar" },		
      { "item" : "coalore" },	
      { "item" : "opbeamaxe" },
	  { "item" : "aegisaltbar" },
	  { "item" : "copperbar" },
	  { "item" : "diamond" },
	  { "item" : "durasteelbar" },
	  { "item" : "georidiumbar" },
 	  { "item" : "glassmaterial" },
	  { "item" : "goldbar" },
	  { "item" : "imperviumbar" },
	  { "item" : "ironbar" },
	  { "item" : "kyrenitebar" },
	  { "item" : "omnisteelbar" },
 	  { "item" : "platinumbar" },
	  { "item" : "plutoniumrod" },
	  { "item" : "rhodiumbar" },
	  { "item" : "silverbar" },
	  { "item" : "solariumrod" },
	  { "item" : "titaniumbar" },
 	  { "item" : "uraniumrod" },	
	  { "item" : "skip" },
	  { "item" : "money" },
	  { "item" : "ultraTech" },
	  { "item" : "shamyiswrath" },
	  { "item" : "oppants" },
	  { "item" : "ophead" },
	  { "item" : "opchest" }			
  	  
    ],
	
	"skip" : [
	
	//tier2
	  { "item" : "silverarmorhead" },
      { "item" : "silverarmorchest" },
      { "item" : "silverarmorpants" },
      { "item" : "steelbar" },
      { "item" : "mediummetal" },
      { "item" : "chain" },
      { "item" : "roboticcraftingtable" },
      { "item" : "refinery" },
      { "item" : "steelbow" },
      { "item" : "tier2chair" },
      { "item" : "tier2door" },
      { "item" : "tier2light" },
      { "item" : "tier2bed" },
      { "item" : "brainextractor" },
      { "item" : "artificialbrain" },
      { "item" : "robothead" },
      { "item" : "robotchest" },
      { "item" : "robotlegs" },
      { "item" : "robotarms" },
      { "item" : "spawnerguard" },
      { "item" : "robot" },
      { "item" : "voxel1k" },
      { "item" : "voxel2k" },
      { "item" : "voxel5k" },
      { "item" : "voxel10k" },
      { "item" : "pixelcompressor" },
      { "item" : "lanternstickback" },
      { "item" : "portable3dprinter" },
	
	//tier3
	  { "item" : "goldarmorhead" },
      { "item" : "goldarmorchest" },
      { "item" : "goldarmorpants" },
      { "item" : "composite01material" },
      { "item" : "painttool" },
      { "item" : "wiretool" },
      { "item" : "tier3chair" },
      { "item" : "tier3door" },
      { "item" : "tier3light" },
      { "item" : "tier3bed" },
      { "item" : "decoyprincess" },
      { "item" : "wiringstation" },
      { "item" : "laserdiode" },
      { "item" : "circuitboard" },
      { "item" : "alarm" },
      { "item" : "drain" },
      { "item" : "largefloorbutton" },
      { "item" : "lightsensor" },
      { "item" : "pressureplate" },
      { "item" : "smallfloorbutton" },
      { "item" : "smallwallbutton" },
      { "item" : "and" },
      { "item" : "bulb" },
      { "item" : "dlatch" },
      { "item" : "not" },
      { "item" : "or" },
      { "item" : "timer" },
      { "item" : "xor" },
      { "item" : "standingturret" },
      { "item" : "spaceairtankback" },
	 
	 //tier4
	  { "item" : "bonusarmorhead" },
      { "item" : "bonusarmorchest" },
      { "item" : "bonusarmorpants" },
      { "item" : "durasteelbar" },
      { "item" : "tier4chair" },
      { "item" : "tier4door" },
      { "item" : "tier4light" },
      { "item" : "tier4bed" },
      { "item" : "capturepod" },
      { "item" : "capturestation" },
      { "item" : "copperdrill" },
      { "item" : "silverdrill" },
      { "item" : "golddrill" },
      { "item" : "platinumdrill" },
      { "item" : "diamonddrill" },
      { "item" : "grapplinghook" },
      { "item" : "peanutbutter" },
      { "item" : "skyrailplatform" },
      { "item" : "skyrailTech-chip" },
	
	 //level32
	  { "item" : "platinumarmorhead" },
      { "item" : "platinumarmorchest" },
      { "item" : "platinumarmorpants" },
      { "item" : "tier5chair" },
      { "item" : "tier5door" },
      { "item" : "tier5light" },
      { "item" : "tier5bed" },
	
	 //level33
	  { "item" : "Feroziumbar" },
      { "item" : "tier6chair" },
      { "item" : "tier6door" },
      { "item" : "tier6light" },
      { "item" : "tier6bed" },
	  
	 //level34
	  { "item" : "tier7chair" },
      { "item" : "tier7door" },
      { "item" : "tier7light" },
      { "item" : "tier7bed" },
	  
	 //level35
      { "item" : "Violiumbar" },
      { "item" : "tier8chair" },
      { "item" : "tier8door" },
      { "item" : "tier8light" },
      { "item" : "tier8bed" },
	  
	 //level36
	  { "item" : "tier9chair" },
      { "item" : "tier9door" },
      { "item" : "tier9light" },
      { "item" : "tier9bed" },
	  
	 //level37
	  { "item" : "imperviumbar" },
      { "item" : "tier10chair" },
      { "item" : "tier10door" },
      { "item" : "tier10light" },
      { "item" : "tier10bed" },
	  
	 //portable3dprinter
	  { "item" : "futurelight" },
      { "item" : "modernplatform" },
      { "item" : "modernchair" },
      { "item" : "moderntable" },
      { "item" : "slidingdoor" },
      { "item" : "techhull1" },
      { "item" : "metallicmaterial" },
      { "item" : "apexshipwall" },
      { "item" : "lightmetal" },
      { "item" : "mediummetal" },
      { "item" : "platematerial" },
      { "item" : "redtoyblock" },
      { "item" : "smoothmetal" },
      { "item" : "nanowrap" },
      { "item" : "nanostove" }
	  
	  
	]	
		
  }

}	
     
     
   
 

