{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "blood", "Bloody", "Jesus", "Ruby", "red" ],
      [ { "mode" : "alts" }, "gun", "Pistol", "wave", "MacTen", "tide", "trail", "Breath", "acidic", "corrosive", "Thrower", "Fountain" ]
    ]
  ]
}
