{
  "keypressTimeout" : 0.05,
  "keypadSound" : "/sfx/interface/keypad_press.wav",
  "warpSound" : "/sfx/interface/warp.wav",
  "errorSound" : "/sfx/interface/nav_insufficient_fuel.wav",
  "scanSound" : "/sfx/interface/scan.wav",
  "onSound" : "/sfx/interface/nav_computer_on.wav",
  "offSound" : "/sfx/interface/nav_computer_off.wav",

  "indicatorPulseLevel" : 1.2,
  "indicatorPulseTime" : 1.25,
  "indicatorPulseMin" : 0.2,

  "focusIndicatorLeft" : "/interface/cockpit/selectedWest.png",
  "focusIndicatorTop" : "/interface/cockpit/selectedNorth.png",
  "focusIndicatorRight" : "/interface/cockpit/selectedEast.png",
  "focusIndicatorBottom" : "/interface/cockpit/selectedSouth.png",
  "focusIndicatorCenter" : "/interface/cockpit/selectedCenter.png",
  "focusIndicatorScale" : 0.5,

  "hoverIndicatorTL" : "/interface/cockpit/selectedSmall_TopLeft.png",
  "hoverIndicatorTR" : "/interface/cockpit/selectedSmall_TopRight.png",
  "hoverIndicatorBL" : "/interface/cockpit/selectedSmall_BottomLeft.png",
  "hoverIndicatorBR" : "/interface/cockpit/selectedSmall_BottomRight.png",
  "hoverIndicatorScale" : 1.0,

  "homeIndicator" : "/interface/cockpit/homehover.png",
  "homeIndicatorScale" : 0.5,
  "homeIndicatorBasePosition" : [0, -0.3],

  "youAreHereIndicator" : "/interface/cockpit/youareherehover.png",
  "youAreHereIndicatorScale" : 0.5,
  "youAreHereIndicatorBasePosition" : [0, 0.3],

  "starmapScreenScale" : 3.0,
  "starmapScreenSlowMovement" : 0.18,
  "starmapScreenFastMovement" : 0.36,
  "starmapSelectDiameter" : 10,
  "starmapIndicatorSize" : 8,
  "starmapNameFontSize" : 8,
  "starmapNameDrawPosition" : [0, 8],
  "constellationLineColor" : [200, 200, 255, 128],
  "constellationLineWidth" : 1.0,

  "travelLineDashLength" : 10,
  "travelLineColor" : [255, 255, 255, 100],
  "travelLineWidth" : 1,
  
  "interSystemFuelcost" : 200,
  "intraSystemFuelcost" : 50,

  "sectorBackgroundLayers" : [
    {
      "image" : "/interface/cockpit/bgstars.png",
      "scale" : 0.5,
      "parallax" : 10,
      "doHueShift" : false
    },
    {
      "image" : "/interface/cockpit/nebula1.png",
      "scale" : 0.5,
      "parallax" : 3.7,
      "doHueShift" : true
    },
    {
      "image" : "/interface/cockpit/grid.png",
      "scale" : 0.5,
      "parallax" : 1.2,
      "doHueShift" : false
    }
  ],

  "orbitRings" : "/celestial/system/orbitallines/<level>_<topbottom>.png",
  "orbitPathScale" : 0.5,

  "systemOrbitScales" : [0.06, 0.1, 0.14, 0.19, 0.23, 0.27, 0.31, 0.35, 0.40, 0.44, 0.48, 0.52],
  "systemOrbitPositions" : [
    [273, 0],
    [241, 26],
    [160, 45],
    [-160, 45],
    [-241, 26],
    [-273, 0],
    [-241, -26],
    [-140, -48],
    [-50, -55],
    [50, -55],
    [140, -48],
    [241, -26]
  ],

  "systemNameDrawPosition" : [146, 135],
  "systemNameFontSize" : 12,
  "systemHoverNameDrawPosition" : [146, 125],
  "systemHoverNameFontSize" : 8,

  "systemCenter" : [146, 75],

  "systemSelectDiameter" : 10,
  "systemIndicatorSize" : 14,

  "planetCenter" : [95, 75],

  "planetInfoSeparatorRect" : [180, 0, 182, 160],
  "planetInfoSeparatorColor" : [20, 120, 20, 255],
  "planetInfoBackgroundRect" : [182, 0, 300, 160],
  "planetInfoBackgroundColor" : [0, 0, 0, 80],

  "planetNameDrawPosition" : [184, 138],
  "planetNameFontSize" : 8,

  "satelliteNameDrawPosition" : [184, 128],
  "satelliteNameFontSize" : 7,

  "worldInfoFontSize" : 8,
  "worldBiomeDrawPosition" : [184, 110],
  "worldThreatDrawPosition" : [184, 100],

  "planetIndicatorSize" : 40,
  "satelliteIndicatorSize" : 25,
  "planetSelectDiameter" : 20,

  "planetaryOrbitScales" : [0.4, 0.45, 0.5, 0.55, 0.6, 0.65, 0.7, 0.75, 0.8, 0.85, 0.9, 1.0],
  "planetaryOrbitPositions" : [
    [90, 0],
    [75, 30],
    [55, 60],
    [-55, 60],
    [-75, 30],
    [-90, 0],
    [-75, -30],
    [-55, -60],
    [-30, -70],
    [30, -70],
    [55, -60],
    [75, -30]
  ],

  "ftlAnimation" : {
    "frames" : "/interface/cockpit/jumpfull.png",

    "disembark" : [0, 85],
    "disembarkLoop" : [86, 90],
    "disembarkTime" : 6,
    "disembarkLoopTime" : 0.2,

    "speedUp" : [91, 125],
    "speedUpLoop" : [126, 130],
    "speedUpTime" : 2.5,
    "speedUpLoopTime" : 0.2,

    "jump" : [131, 140],
    "jumpLoop" : [141, 145],
    "jumpTime" : 0.5,
    "jumpLoopTime" : 0.2,

    "speedDown" : [146, 163],
    "speedDownLoop" : [164, 168],
    "speedDownTime" : 1.5,
    "speedDownLoopTime" : 0.2,

    "arrive" : [169, 198],
    "arriveLoop" : [199, 199],
    "arriveTime" : 2,
    "arriveLoopTime" : 0.5,

    "textFrames" : "/interface/cockpit/textscroll.png",
    "textRange" : [0, 14],
    "textRangeLoop" : [15, 279],
    "textTime" : 0.25,
    "textLoopTime" : 4.41666666,
    "textWaitFrames" : 47
  },

  "console" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/cockpit/consoleheader.png",
      "fileBody" : "/interface/cockpit/consolebody.png"
    },
    "consoleScreenCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [40, 100, 334, 254]
    },
    "sectorBackground" : {
      "zlevel" : 2,
      "type" : "image",
      "file" : "/interface/cockpit/sector_background.png",
      "position" : [40, 239]
    },
    "mouseIndicator" : {
      "zlevel" : 2,
      "type" : "image",
      "file" : "/interface/cockpit/mouse_zoom.png",
      "position" : [300, 104]
    },
    "sectorLabel" : {
      "zlevel" : 3,
      "fontSize" : 12,
      "type" : "label",
      "position" : [45, 239],
      "hAnchor" : "left"
    },
    "sectorButtons" : {
      "zlevel" : 3,
      "type" : "radioGroup",
      "position" : [210, 241],

      "baseImage" : "/interface/cockpit/sector_button.png",
      "hoverImage" : "/interface/cockpit/sector_over.png",
      "baseImageChecked" : "/interface/cockpit/sector_selected.png",
      "hoverImageChecked" : "/interface/cockpit/sector_over.png",

      "buttons" : [
        {
          "id" : 7,
          "fontSize" : 10,
          "position" : [0, 0]
        },
        {
          "id" : 6,
          "fontSize" : 10,
          "position" : [15, 0]
        },
        {
          "id" : 5,
          "fontSize" : 10,
          "position" : [30, 0]
        },
        {
          "id" : 4,
          "fontSize" : 10,
          "position" : [45, 0]
        },
        {
          "id" : 3,
          "fontSize" : 10,
          "position" : [60, 0]
        },
        {
          "id" : 2,
          "fontSize" : 10,
          "position" : [75, 0]
        },
        {
          "id" : 1,
          "fontSize" : 10,
          "position" : [90, 0]
        },
        {
          "id" : 0,
          "fontSize" : 10,
          "position" : [105, 0]
        }
      ]
    },
    "findRandom" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/cockpit/findrandomup.png",
      "hover" : "/interface/cockpit/findrandomover.png",
      "pressed" : "/interface/cockpit/findrandomdown.png",
      "position" : [220, 49],
      "pressedOffset" : [0, 0]
    },
    "setHomeWorld" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/cockpit/sethomeup.png",
      "hover" : "/interface/cockpit/sethomemover.png",
      "pressed" : "/interface/cockpit/sethomedown.png",
      "position" : [36, 64],
      "pressedOffset" : [0, 0]
    },
    "goToHomeWorld" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/cockpit/gohomeup.png",
      "hover" : "/interface/cockpit/gohomemover.png",
      "pressed" : "/interface/cockpit/gohomedown.png",
      "position" : [36, 47],
      "pressedOffset" : [0, 0]
    },
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/cockpit/xup.png",
      "hover" : "/interface/cockpit/xdown.png",
      "pressed" : "/interface/cockpit/xdown.png",
      "callback" : "close",
      "position" : [319, 263],
      "pressedOffset" : [0, -1]
    },
    "initiateJump" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/cockpit/initiatejumpup.png",
      "hover" : "/interface/cockpit/initiatejumpover.png",
      "pressed" : "/interface/cockpit/initiatejumpdown.png",
      "position" : [158, 48],
      "pressedOffset" : [0, 0]
    },
    "systemLeftButton" : {
      "zlevel" : 3,
      "type" : "button",
      "callback" : "null",
      "base" : "/interface/cockpit/arrow_Left.png",
      "hover" : "/interface/cockpit/arrow_Left.png",
      "pressed" : "/interface/cockpit/arrow_Left.png",
      "position" : [40, 170],
      "pressedOffset" : [2, -2]
    },
    "systemRightButton" : {
      "zlevel" : 3,
      "type" : "button",
      "callback" : "null",
      "base" : "/interface/cockpit/arrow_Right.png",
      "hover" : "/interface/cockpit/arrow_Right.png",
      "pressed" : "/interface/cockpit/arrow_Right.png",
      "position" : [320, 170],
      "pressedOffset" : [2, -2]
    },
    "systemUpButton" : {
      "zlevel" : 3,
      "type" : "button",
      "callback" : "null",
      "base" : "/interface/cockpit/arrow_Up.png",
      "hover" : "/interface/cockpit/arrow_Up.png",
      "pressed" : "/interface/cockpit/arrow_Up.png",
      "position" : [180, 225],
      "pressedOffset" : [2, -2]
    },
    "systemDownButton" : {
      "zlevel" : 3,
      "type" : "button",
      "callback" : "null",
      "base" : "/interface/cockpit/arrow_Down.png",
      "hover" : "/interface/cockpit/arrow_Down.png",
      "pressed" : "/interface/cockpit/arrow_Down.png",
      "position" : [180, 106],
      "pressedOffset" : [2, -2]
    },
    "xCoord" : {
      "zlevel" : 3,
      "type" : "textbox",
      "regex" : "-?\\d{0,9}",
      "position" : [230, 71],
      "textAlign" : "left",
      "fontSize" : 8,
      "maxWidth" : 44,
      "color" : [255, 0, 0]
    },
    "yCoord" : {
      "zlevel" : 3,
      "type" : "textbox",
      "regex" : "-?\\d{0,9}",
      "position" : [284, 71],
      "textAlign" : "left",
      "fontSize" : 8,
      "maxWidth" : 44,
      "color" : [255, 0, 0]
    },
    "fuelGauge" : {
      "zlevel" : 999,
      "type" : "fuelGauge",
      "position" : [128, 82]
    },
    "numpadFront" : {
      "zlevel" : 4,
      "type" : "image",
      "file" : "/interface/cockpit/numpadextension.png",
      "position" : [151, 99]
    },
    "fuelIcon" : {
      "zlevel" : 3,
      "type" : "image",
      "scale" : 0.5,
      "file" : "/interface/cockpit/fuelcosticon.png",
      "position" : [43, 102]
    },
    "fuelCost" : {
      "zlevel" : 4,
      "fontSize" : 8,
      "type" : "label",
      "position" : [58, 103],
      "hAnchor" : "left",
      "color" : [65, 218, 27],
      "value" : "0000"
    }
  }
}
