{
  "gui" : {
    "fuelGauge" : {
      "type" : "fuelGauge",
      "position" : [20, 54]
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/fuel/fuelUIheader.png",
      "fileBody" : "/interface/fuel/fuelUIbody.png",
      "fileFooter" : "/interface/fuel/fuelUIfooter.png"
    },
    "burn" : {
      "type" : "button",
      "position" : [34, 21],
      "base" : "/interface/fuel/fuel2up.png",
      "hover" : "/interface/fuel/fuel2down.png"
    },
    "clear" : {
      "type" : "button",
      "position" : [101, 21],
      "base" : "/interface/fuel/clearup.png",
      "hover" : "/interface/fuel/cleardown.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [28, 37],
      "dimensions" : [6, 1],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/cockpit/xup.png",
      "hover" : "/interface/cockpit/xdown.png",
      "pressed" : "/interface/cockpit/xdown.png",
      "callback" : "close",
      "position" : [155, 59],
      "pressedOffset" : [0, -1]
    }
  }
}
