{
  "__merge": [], 
  "defaultBlueprints" : { 
    "tier1" : [ 
      { "item" : "dnastation" },
      { "item" : "recapturer" },
      { "item" : "rehealer" },
      { "item" : "reobtainer" },
      { "item" : "resetter" },
      { "item" : "revivestation" },
      { "item" : "calmdisc" },
      { "item" : "healdisc" },
      { "item" : "jumpdisc" },
      { "item" : "lightdisc" },
      { "item" : "regendisc" },
      { "item" : "speeddisc" },
      { "item" : "storedisc" },
      { "item" : "thorndisc" }
    ]
  }
}
