{
    "__merge": [],
    "defaultBlueprints": {
        "__merge": [],
        "tier1" : [ 
		
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "crossbowwood", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "crossbowspecail", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "floranneedler", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "florangrenadelauncher", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "lightningcoil", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "pulserifle", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "rareplasmaassaultrifle", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "rareplasmamachinepistol", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "rareplasmapistol", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "rareplasmashotgun", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "rareplasmasniperrifle", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "revolver", "level" : 200 } },	
	    { "item" : "generatedgun", "count" : 1, "data" : { "definition" : "uzi", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "legendarygrenadelauncher", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "legendaryassaultrifle", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "legendarymachinepistol", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "legendaryrocketlauncher", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "aviangun", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "legendaryshotgun", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "flamethrower", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "legendarypistol", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "legendarysniperrifle", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "crossbow", "level" : 200 } },
		{ "item" : "generatedsword", "count" : 1, "data" : { "definition" : "eyesword", "level" : 200 } },
		{ "item" : "generatedsword", "count" : 1, "data" : { "definition" : "watersword", "level" : 200 } },
		{ "item" : "generatedsword", "count" : 1, "data" : { "definition" : "starcleaversword", "level" : 200 } },
		{ "item" : "generatedsword", "count" : 1, "data" : { "definition" : "bonehammer", "level" : 200 } }
       
      		
		]
	}
}