{
  "nameGen" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Tittily", "Overpowered ", "Jesus", "Floppy", "Floppidy", "Meowsical" ],
      [ { "mode" : "alts" }, "gun", "rifle", "monkey", "inator", "pancake", "toast", "fish", "shooter", "fire-er" ]
    ]
  ]
}
