{
//  "__merge" : "nil", // sets file to nil, for some configs this will be treated asif the file was deleted
  "__merge" : [],
  "defaultBlueprints" : {
    "__merge" : [
      // ["delete", "tier1" ]
      //[ "overwrite", "tier2" ]
    ],
    "tier1" : [ { "item" : "networkcard" }, { "item" : "apexturret" }, { "item" : "ueparticleaccelerator" }  ],
    "tier2" : []
  }
}