{
    "__merge": [],
    "defaultBlueprints": {
        "__merge": [],
        "tier1" : [ 
		{ "item" : "ProVolver" },
		{ "item" : "gassinator" },
		{ "item" : "guntable" },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "legendarygrenadelauncher", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "legendaryassaultrifle", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "legendarymachinepistol", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "legendaryrocketlauncher", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "aviangun", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "legendaryshotgun", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "legendaryflamethrower", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "legendarypistol", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "legendarysniperrifle", "level" : 200 } },
		{ "item" : "generatedgun", "count" : 1, "data" : { "definition" : "crossbow", "level" : 200 } },
		{ "item" : "generatedsword", "count" : 1, "data" : { "definition" : "eyesword", "level" : 200 } },
		{ "item" : "generatedsword", "count" : 1, "data" : { "definition" : "watersword", "level" : 200 } },
		{ "item" : "generatedsword", "count" : 1, "data" : { "definition" : "starcleaversword", "level" : 200 } },
		{ "item" : "generatedsword", "count" : 1, "data" : { "definition" : "bonehammer", "level" : 200 } },
        {  
			"item": "generatedgun",
            "count": 1,
            "data": {
                "definition": "happygun",
                "level": 10 }
		},
        {  
			"item": "generatedgun",
            "count": 1,
            "data": {
                "definition": "oprifle",
                "level": 10 }
		}  		
		]
	}
}