{
  "actionBarSelectOffset" : [-1, -16],
  "actionBarSwapItemOffset" : [0, 0],

  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : false,
      "persistent" : true,
      "anchor" : "CenterTop"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/actionbar/actionbarbg.png",
      "fileFooter" : ""
    },
    "barItems" : {
      "type" : "itemgrid",
      "dimensions" : [5, 2],
      "rowSpacing" : [21, 0],
      "columnSpacing" : [156, 0],
      "position" : [10, 5],
      "backingImage" : "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty" : false,
      "showBackingImageWhenFull" : true,
      "showDurability" : true,
      "zlevel" : 1
    },
    "primaryHandSlot" : {
      "type" : "itemslot",
      "position" : [118, 5],
      "iconMode" : true,
      "showCount" : true,
      "showDurability" : true,
      "zlevel" : 2
    },
    "altHandSlot" : {
      "type" : "itemslot",
      "position" : [142, 5],
      "iconMode" : true,
      "showCount" : true,
      "showDurability" : true,
      "zlevel" : 2
    },
    "selectL" : {
      "type" : "image",
      "file" : "/interface/actionbar/selectedslot-l.png",
      "position" : [-20, -20]
    },
    "selectR" : {
      "type" : "image",
      "file" : "/interface/actionbar/selectedslot-r.png",
      "position" : [-20, -20]
    },
    "select2" : {
      "type" : "image",
      "file" : "/interface/actionbar/selectedslot-2h.png",
      "position" : [-20, -20]
    },
    "leftOverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbar-left-overlay.png",
      "position" : [115, 0],
      "zlevel" : 3
    },
    "rightOverlay" : {
      "type" : "image",
      "file" : "/interface/actionbar/actionbar-right-overlay.png",
      "position" : [140, 0],
      "zlevel" : 3
    }
  }
}
