{
  "blueprint" : {
    "messages" : {
      "alreadyKnown" : "Blueprint already known",
      "learned" : "Learned to craft a new item"
    },
    "overlay" : {
      "iconOverlay" : {
        "image" : "/items/generic/other/blueprint.png"
      }
    },
    "inHandDrawable" : {
      "image" : "/items/generic/other/blueprintinhand.png"
    }
  },
  "chip" : {
    "messages" : {
      "alreadyKnown" : "Techchip already known",
      "learned" : "New tech available"
    },
    "overlay" : {
      "iconOverlay" : {
        "image" : "/tech/banana.png"
      }
    },
    "inHandDrawable" : {
      "image" : "/tech/banana.png"
    }
  }
}
