{
  "background" : {
    "type" : "background",
    "fileHeader" : "",
    "fileBody" : "/interface/title/charselectionbackground.png",
    "fileFooter" : ""
  },

  "playerDownButton" : {
    "type" : "button",
    "base" : "/interface/cockpit/arrow_Down.png",
    "position" : [110, 12],
    "pressedOffset" : [2, -2]
  },

  "playerUpButton" : {
    "type" : "button",
    "base" : "/interface/cockpit/arrow_Up.png",
    "position" : [110, 220],
    "pressedOffset" : [2, -2]
  },

  "charSelector1" : {
    "type" : "largeCharPlate",
    "position" : [8, 177]
  },

  "charSelector2" : {
    "type" : "largeCharPlate",
    "position" : [8, 127]
  },

  "charSelector3" : {
    "type" : "largeCharPlate",
    "position" : [8, 77]
  },

  "charSelector4" : {
    "type" : "largeCharPlate",
    "position" : [8, 27]
  }
}
