{

  "textLabels" : [
    [ "SKIN COLOR", "HAIR STYLE", "SHIRT", "PANTS", "UNDY COLOR", "HAIR COLOR", "SHIRT COLOR", "PANTS COLOR", "HUMAN", "PERSONALITY" ],
    [ "FEATHER COLOR", "PLUMAGE", "SHIRT", "PANTS", "BEAK STYLE", "FLUFF", "SHIRT COLOR", "PANTS COLOR", "AVIAN", "PERSONALITY" ],
    [ "FUR COLOR", "HAIR STYLE", "SHIRT", "PANTS", "SKIN COLOR", "BEARD STYLE", "SHIRT COLOR", "PANTS COLOR", "APEX", "PERSONALITY" ],
    [ "SKIN COLOR", "FOLIAGE", "SHIRT", "PANTS", "LEAF COLOR", "FLOWER COLOR", "SHIRT COLOR", "PANTS COLOR", "FLORAN", "PERSONALITY" ],
    [ "SKIN COLOR", "FINS", "SHIRT", "PANTS", "BELLY COLOR", "FIN COLOR", "SHIRT COLOR", "PANTS COLOR", "HYLOTLS", "PERSONALITY" ],
    [ "PAINT COLOR", "HEAD MOD", "SHIRT", "PANTS", "LIGHTS COLOR", "DETAIL COLOR", "SHIRT COLOR", "PANTS COLOR", "GLITCH", "PERSONALITY" ]
  ],
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/title/charactercreation.png",
      "fileFooter" : ""
    },
    "labelSpeciesRadio" : {
      "type" : "label",
      "position" : [69, 200],
      "hAnchor" : "mid",
      "value" : "SPECIES"
    },
    "labelPortrait" : {
      "type" : "label",
      "position" : [168, 200],
      "hAnchor" : "mid",
      "value" : "HUMAN"
    },
    "labelMainSkinColor" : {
      "type" : "label",
      "position" : [52, 99],
      "hAnchor" : "mid"
    },
    "mainSkinColor" : {
      "type" : "spinner",
      "position" : [84, 99],
      "zlevel" : 1
    },
    "labelHairStyle" : {
      "type" : "label",
      "position" : [52, 87],
      "hAnchor" : "mid"
    },
    "hairStyle" : {
      "type" : "spinner",
      "position" : [84, 87],
      "zlevel" : 1
    },
    "labelShirt" : {
      "type" : "label",
      "position" : [52, 75],
      "hAnchor" : "mid"
    },
    "shirt" : {
      "type" : "spinner",
      "position" : [84, 75],
      "zlevel" : 1
    },
    "labelPants" : {
      "type" : "label",
      "position" : [52, 63],
      "hAnchor" : "mid"
    },
    "pants" : {
      "type" : "spinner",
      "position" : [84, 63],
      "zlevel" : 1
    },
    "labelPersonality" : {
      "type" : "label",
      "position" : [52, 51],
      "hAnchor" : "mid"
    },
    "personality" : {
      "type" : "spinner",
      "position" : [84, 51],
      "zlevel" : 1
    },
    "labelAlty" : {
      "type" : "label",
      "position" : [152, 99],
      "hAnchor" : "mid"
    },
    "alty" : {
      "type" : "spinner",
      "position" : [184, 99],
      "zlevel" : 1
    },
    "labelHeady" : {
      "type" : "label",
      "position" : [152, 87],
      "hAnchor" : "mid"
    },
    "heady" : {
      "type" : "spinner",
      "position" : [184, 87],
      "zlevel" : 1
    },
    "labelShirtColor" : {
      "type" : "label",
      "position" : [152, 75],
      "hAnchor" : "mid"
    },
    "shirtColor" : {
      "type" : "spinner",
      "position" : [184, 75],
      "zlevel" : 1
    },
    "labelPantsColor" : {
      "type" : "label",
      "position" : [152, 63],
      "hAnchor" : "mid"
    },
    "pantsColor" : {
      "type" : "spinner",
      "position" : [184, 63],
      "zlevel" : 1
    },
    "randomize" : {
      "type" : "button",
      "base" : "/interface/title/dice.png",
      "hover" : "/interface/title/diceover.png",
      "position" : [184, 115]
    },
    "randomName" : {
      "type" : "button",
      "base" : "/interface/title/dice.png",
      "hover" : "/interface/title/diceover.png",
      "position" : [184, 30]
    },
    "saveChar" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [42, 13],
      "caption" : "Ok"
    },
    "cancel" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "position" : [141, 13],
      "caption" : "Cancel"
    },
    "species" : {
      "type" : "radioGroup",
      "position" : [27, 170],

      "baseImage" : "/interface/title/button.png",
      "hoverImage" : "/interface/title/buttonover.png",
      "baseImageChecked" : "/interface/title/selected.png",
      "hoverImageChecked" : "/interface/title/selectedover.png",

      "buttons" : [
        {
          "id" : 0,
          "image" : "/interface/title/humanfemale.png",
          "position" : [0, 0]
        },
        {
          "id" : 1,
          "image" : "/interface/title/avianfemale.png",
          "position" : [27, 0]
        },
        {
          "id" : 2,
          "image" : "/interface/title/sapefemale.png",
          "position" : [54, 0]
        },
        {
          "id" : 3,
          "image" : "/interface/title/plantfemale.png",
          "position" : [0, -26]
        },
        {
          "id" : 4,
          "image" : "/interface/title/aquaticfemale.png",
          "position" : [27, -26]
        },
        {
          "id" : 5,
          "image" : "/interface/title/robotfemale.png",
          "position" : [54, -26]
        }
      ]
    },
    "gender" : {
      "type" : "radioGroup",
      "position" : [39, 114],

      "baseImage" : "/interface/title/button.png",
      "hoverImage" : "/interface/title/buttonover.png",
      "baseImageChecked" : "/interface/title/selected.png",
      "hoverImageChecked" : "/interface/title/selectedover.png",

      "buttons" : [
        {
          "id" : 0,
          "image" : "/interface/title/male.png",
          "position" : [0, 0]
        },
        {
          "id" : 1,
          "image" : "/interface/title/female.png",
          "selected" : true,
          "position" : [29, 0]
        }
      ]
    },
    "charPreview" : {
      "type" : "portrait",
      "position" : [167, 168],
      "scale" : 1.5
    },
    "name" : {
      "type" : "textbox",
      "position" : [62, 34],
      "hint" : "name",
      "maxWidth" : 70,
      "enterKey" : "saveChar",
      "escapeKey" : "cancel",
      "focus" : true
    }
  }
}
