{
  "action" : "actions",
  "list" : [
    {
      "action" : "spark"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast1.wav" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 15,
      "backgroundRadius" : 14,
      "explosiveDamageAmount" : 45,
      "delaySteps" : 2
    }
  ]
}
