{
  "__merge" : [],
    "artillery" : {
    "mass" : 2,
    "gravityMultiplier" : 0.25,
    "bounceFactor" : 0.2,
    "maxMovementPerStep" : 0.8,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.25,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0
  },
  
  "bolt" : {
    "mass" : 1,
    "gravityMultiplier" : 0.0,
    "bounceFactor" : 1.0,
    "maxMovementPerStep" : 1,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : true,

    "airFriction" : 0.1,
    "liquidFriction" : 8.0,
    "groundFriction" : 15.0
  }
}
  