{
  "action" : "actions",
  "list" : [
    {
      "action" : "spark"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/tools/drill_hit.wav" ]
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 3,
      "backgroundRadius" : 3,
      "explosiveDamageAmount" : 5,
      "delaySteps" : 1
    }
  ]
}
