{
  "__merge": [],
  "kevslider" : {
    "mass" : 1.0,
    "gravityMultiplier" : 1.0,
    "bounceFactor" : 0.0,
    "maxMovementPerStep" : 0.4,
    "groundSlideMovementEnabled" : true,

    "collisionPoly" : [ [-0.25, -0.25], [0.25, -0.25], [0.25, 0.25], [-0.25, 0.25] ],
    "ignorePlatformCollision" : false,

    "airFriction" : 0,
    "liquidFriction" : 0,
    "groundFriction" : -0.8
  }
}