{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Moon", "Sun", "Rock", "Copper", "Iron", "Silver", "Gold", "Gem", "Fire", "Biscuit", "Ginger", "Bullet", "Winch", "Coal", "Ox", "Butter", "Grit", "Gravy", "Knuckle", "Cosmo", "Ash", "Plasma" ],
      [ { "mode" : "alts" }, "shine", "tide", "tumbler", "hide", "corn", "thumb", "starter", "prod", "torque", "style", "shot", "scales", "bit", "bolt", "scotch", "soot", "smoke", "oil", "duster", "blazer", "tic" ]
    ]
  ]
}
