{
  "__merge" : [],
  "defaultBlueprints" : {
    "tier1" : [
	  { "item" : "pilch_tier1counter" },
	  { "item" : "pilch_tier1table" }
	],
    "tier2" : [
	  { "item" : "pilch_tier2counter" },
	  { "item" : "pilch_tier2table" }
	],
    "tier3" : [
	  { "item" : "pilch_tier3counter" },
	  { "item" : "pilch_tier3table" }
	],
     "tier4" : [
	  { "item" : "pilch_tier4counter" },
	  { "item" : "pilch_tier4table" }
	],
    "level32" : [
	  { "item" : "pilch_tier5counter" },
	  { "item" : "pilch_tier5table" }
	],
    "level33" : [
	  { "item" : "pilch_tier6counter" },
	  { "item" : "pilch_tier6table" }
	],
    "level34" : [
	  { "item" : "pilch_tier7counter" },
	  { "item" : "pilch_tier7table" }
	],
    "level35" : [
	  { "item" : "pilch_tier8counter" },
	  { "item" : "pilch_tier8table" }
	],
    "level36" : [
	  { "item" : "pilch_tier9counter" },
	  { "item" : "pilch_tier9table" }
	],
    "level37" : [
	  { "item" : "pilch_tier10counter" },
	  { "item" : "pilch_tier10table" }
	]
 }
}