{
  "config" : {
    "offset" : [24, 14],
    "lineHeight" : 10,
    "visTime" : 5,
    "fadeRate" : 1.0,
    "chatWrapLimit" : 266,
    "chatSize" : 6,
    "chatHistoryLimit" : 64,
    "font" : {
      "baseSize" : 8,
      "itemSize" : 8,
      "nameSize" : 8,
      "defaultColor" : [255, 255, 255]
    },
    "colors" : {
      "channel" : "^shadow,green;",
      "broadcast" : "^shadow,yellow;",
      "whisper" : "^shadow,pink;",
      "commandResult" : "^shadow,lightgray;"
    }
  },
  "gui" : {
    "panefeature" : {
      "type" : "panefeature",
      "keyDismissable" : true,
      "persistent" : true,
      "anchor" : "BottomLeft"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "",
      "fileBody" : "/interface/chat/chatpane.png",
      "fileFooter" : ""
    },
    "textBoxBG" : {
      "type" : "image",
      "file" : "/interface/chat/chat.png",
      "position" : [20, 12]
    },
    "textBox" : {
      "type" : "textbox",
      "maxWidth" : 245,
      "position" : [43, 13],
      "color" : "green"
    },
    "say" : {
      "type" : "label",
      "value" : "Say:",
      "position" : [23, 13],
      "color" : "green"
    },
    "upButton" : {
      "type" : "button",
      "position" : [4, 70],
      "base" : "/interface/chat/up.png",
      "hover" : "/interface/chat/upOver.png"
    },
    "downButton" : {
      "type" : "button",
      "position" : [4, 50],
      "base" : "/interface/chat/down.png",
      "hover" : "/interface/chat/downOver.png"
    },
    "bottomButton" : {
      "type" : "button",
      "position" : [4, 30],
      "base" : "/interface/chat/bottom.png",
      "hover" : "/interface/chat/bottomOver.png"
    },
    "modeButton" : {
      "type" : "button",
      "position" : [3, 9],
      "base" : "/interface/chat/galaxy.png",
      "hover" : "/interface/chat/galaxyOver.png"
    }
  },
  "modes" : {
    "universe" : {
      "base" : "/interface/chat/galaxy.png",
      "hover" : "/interface/chat/galaxyOver.png"
    },
    "planet" : {
      "base" : "/interface/chat/planet.png",
      "hover" : "/interface/chat/planetOver.png"
    },
    "admin" : {
      "base" : "/interface/chat/party.png",
      "hover" : "/interface/chat/partyOver.png"
    }
  },
  "bottom" : {
    "atbottom" : {
      "base" : "/interface/chat/bottom.png",
      "hover" : "/interface/chat/bottomOver.png"
    },
    "scrolling" : {
      "base" : "/interface/chat/atbottom.png",
      "hover" : "/interface/chat/bottomOver.png"
    }
  }
}
