{
  "__merge" : [],
  "defaultBlueprints" : {
	"tier2" : [
{ "item" : "crewchefmerchantspawner" },
{ "item" : "crewdoctormerchantspawner" },
{ "item" : "crewhuntermerchantspawner" },
{ "item" : "crewloremerchantspawner" },
{ "item" : "crewmechanicmerchantspawner" },
{ "item" : "crewsciencemerchantspawner" },
{ "item" : "crewmatemerchantspawner" },
{ "item" : "crewwoodenbed" }, 
{ "item" : "crewbandage" }, 
{ "item" : "crewbow" }, 
{ "item" : "crewbirdingbeacon" }, 
{ "item" : "crewmonsterbeacon" }, 
{ "item" : "crewhuntingbeacon" }, 
{ "item" : "crewchickenbeacon" },
{ "item" : "crewhuntingknife" }, 
{ "item" : "crewufotrophy" }, 
{ "item" : "crewcopperpickaxe" }, 
{ "item" : "crewsilverpickaxe" }, 
{ "item" : "crewgoldpickaxe" }, 
{ "item" : "crewplatinumpickaxe" }, 
{ "item" : "crewdiamondpickaxe" }, 
{ "item" : "creworelootbox" }, 
{ "item" : "doublejumpTech-chip" }, 
{ "item" : "dashTech-chip" }, 
{ "item" : "crewelectrogrenade" }, 
{ "item" : "techchest2" }, 
{ "item" : "crewmerchantnetwork" }, 
{ "item" : "crewsilverarmorhead" }, 
{ "item" : "crewsilverarmorchest" }, 
{ "item" : "crewsilverarmorpants" }, 
{ "item" : "alienburger" }, 
{ "item" : "pizzap" }, 
{ "item" : "vegetablesoup" }, 
{ "item" : "piodia" }, 
{ "item" : "harmonica" }, 
{ "item" : "hylotlpainting1" }, 
{ "item" : "apexpainting1" }, 
{ "item" : "locker2" }, 
{ "item" : "hylotlmovieposter1" }, 
{ "item" : "hockeytable" },
{ "item" : "lavalamp1" }, 
{ "item" : "badgooplush" }, 
{ "item" : "bearplush" }, 
{ "item" : "beerhead" }, 
{ "item" : "owlclock" }, 
{ "item" : "vaseclassiclarge2" }, 
{ "item" : "crewbountybeacon1" }, 
{ "item" : "crewbounty4" }, 
{ "item" : "crewbounty5" }, 
{ "item" : "crewbounty6" }, 
{ "item" : "automatostew" }
],
"tier3" : [  
{ "item" : "crewfoodseedbox" }, 
{ "item" : "crewnanowrap" }, 
{ "item" : "crewbow2" }, 
{ "item" : "crewhuntingknife2" }, 
{ "item" : "crewbirdingbeacon2" }, 
{ "item" : "crewmonsterbeacon2" }, 
{ "item" : "crewavianbeacon" },
{ "item" : "crewrobottrophy" }, 
{ "item" : "crewredstim" }, 
{ "item" : "crewyellowstim" }, 
{ "item" : "crewbluestim" }, 
{ "item" : "crewgreenstim" }, 
{ "item" : "crewbandage2" }, 
{ "item" : "creworelootbox2" }, 
{ "item" : "crewbomb" }, 
{ "item" : "crewholedrill" }, 
{ "item" : "crewdashTech-chip" }, 
{ "item" : "crewdoblejumpTech-chip" }, 
{ "item" : "morphballTech-chip" }, 
{ "item" : "skyrailTech-chip" }, 
{ "item" : "landmine" }, 
{ "item" : "crewgoldarmorhead" }, 
{ "item" : "crewgoldarmorchest" }, 
{ "item" : "crewgoldarmorpants" }, 
{ "item" : "crewhatbox" }, 
{ "item" : "hylotlpainting2" }, 
{ "item" : "paintingshakespeare" }, 
{ "item" : "paintinggothic" }, 
{ "item" : "mindwurmplush" }, 
{ "item" : "hylotlmovieposter2" }, 
{ "item" : "fountain1" }, 
{ "item" : "ocarina" }, 
{ "item" : "arcadestarbound" }, 
{ "item" : "smallhouse1" }, 
{ "item" : "basictv" }, 
{ "item" : "apexaquarium1" }, 
{ "item" : "carbed" },
{ "item" : "paintingapespeare" }, 
{ "item" : "crewbounty2" }, 
{ "item" : "crewbounty7" }, 
{ "item" : "crewbounty8" }, 
{ "item" : "crewbounty9" }, 
{ "item" : "boltos" }, 
{ "item" : "fishnchips" }, 
{ "item" : "meatwich" }
],
"tier4" : [  
{ "item" : "crewfoodrecipebox" }, 
{ "item" : "crewhuntingknife3" },
{ "item" : "crewbirdingbeacon3" }, 
{ "item" : "crewmonsterbeacon3" }, 
{ "item" : "crewdragontrophy" }, 
{ "item" : "crewmimicbeacon" },
{ "item" : "crewnanowrap" }, 
{ "item" : "crewredstim2" }, 
{ "item" : "crewyellowstim2" }, 
{ "item" : "crewbluestim2" }, 
{ "item" : "crewgreenstim2" }, 
{ "item" : "crewredstimlong" }, 
{ "item" : "crewyellowstimlong" }, 
{ "item" : "crewbluestimlong" }, 
{ "item" : "crewgreenstimlong" }, 
{ "item" : "crewmedkit" }, 
{ "item" : "crewbandage3" }, 
{ "item" : "crewcopperdrill" }, 
{ "item" : "crewsilverdrill" }, 
{ "item" : "crewgolddrill" }, 
{ "item" : "crewplatinumdrill" }, 
{ "item" : "crewdiamonddrill" }, 
{ "item" : "creworelootbox3" }, 
{ "item" : "crewsilverholedrill" }, 
{ "item" : "rocketjump-chip" }, 
{ "item" : "jetpackTech-chip" }, 
{ "item" : "humancar-chip" }, 
{ "item" : "crewplasmagrenade" }, 
{ "item" : "crewplatinumarmorhead" }, 
{ "item" : "crewplatinumarmorchest" }, 
{ "item" : "crewplatinumarmorpants" }, 
{ "item" : "crewbackitemsbox" }, 
{ "item" : "reedorgan" }, 
{ "item" : "koto" }, 
{ "item" : "paintingstarrynight" }, 
{ "item" : "paintingmonalisa" }, 
{ "item" : "numiplush" }, 
{ "item" : "arcadedance" }, 
{ "item" : "hylotlwaterfeature1" }, 
{ "item" : "plantvolcano4" }, 
{ "item" : "fantasyboardgame" }, 
{ "item" : "crewbounty3" }, 
{ "item" : "crewbounty10" }, 
{ "item" : "crewbounty11" }, 
{ "item" : "crewbounty12" }, 
{ "item" : "crewbounty13" }, 
{ "item" : "crewbossbeacon" }

],
"level32" : [  
{ "item" : "crewbirdingbeacon4" }, 
{ "item" : "crewmonsterbeacon4" }, 
{ "item" : "crewpobeacon" },
{ "item" : "crewglitchbeacon" },
{ "item" : "crewjellytrophy" }, 
{ "item" : "crewbeamaxe" }, 
{ "item" : "crewdiamondholedrill" }, 
{ "item" : "crewmedkit2" }, 
{ "item" : "crewtier10bed" }, 
{ "item" : "crewbubbleboost-chip" }, 
{ "item" : "butterflyboost-chip" }, 
{ "item" : "apexMechTech-chip" }, 
{ "item" : "glitchMechTech-chip" }, 
{ "item" : "humanMechTech-chip" }, 
{ "item" : "crewdiamondarmorhead" }, 
{ "item" : "crewdiamondarmorchest" }, 
{ "item" : "crewdiamondarmorpants" }, 
{ "item" : "sushi" }, 
{ "item" : "thespecial" }, 
{ "item" : "roastdinner" }, 
{ "item" : "ironthrone" }, 
{ "item" : "hylotlfashionhologram" }, 
{ "item" : "poptopplush" }, 
{ "item" : "turtleplush" }, 
{ "item" : "recreationalvehicle" },
{ "item" : "unicornplush" },
{ "item" : "apextv" }, 
{ "item" : "bones" }, 
{ "item" : "apexrecordplayer" }, 
{ "item" : "crewbossbeacon2" }

],
"level37" : [  
{ "item" : "buster" }, 
{ "item" : "tiylegs" }, 
{ "item" : "tiyhead" }, 
{ "item" : "tiychest" }, 
{ "item" : "slapfish" }, 
{ "item" : "goldsword" }, 
{ "item" : "crewgenekonggrenade" }, 
{ "item" : "crewdoctormedkit" }, 
{ "item" : "crewhunterbow" }, 
{ "item" : "crewcometbeacon" },
{ "item" : "crewlovejonesgun" }, 
{ "item" : "crewancientsword" }, 
{ "item" : "crewchefsknife" }, 
{ "item" : "crewunlimitedbomb" }, 
{ "item" : "deathstick" }

]                    
  }
}
