{
  "__merge" : [],
  "defaultBlueprints" : {
    "tier1" : [ 
	    { "item" : "bandage" },
	    { "item" : "bluestim" },
	    { "item" : "bubbleboost-chip" },
	    { "item" : "butterflyboost-chip" },
	    { "item" : "cameramanboost-chip" },
	    { "item" : "campfire" },
	    { "item" : "capturepod" },
	    { "item" : "cheatbox" },
	    { "item" : "coalore" },
	    { "item" : "cobblestonematerial" },
	    { "item" : "cookedalienmeat" },
	    { "item" : "copperbar" },
	    { "item" : "dashTech-chip" },
	    { "item" : "decoyprincess" },
	    { "item" : "diamond" },
	    { "item" : "doublejumpTech-chip" },
	    { "item" : "fishaxe" },
	    { "item" : "fullwood1" },
	    { "item" : "goldbar" },
	    { "item" : "greenstim" },
	    { "item" : "hoverTech-chip" },
	    { "item" : "humancar-chip" },
	    { "item" : "humantier10broadsword" },
	    { "item" : "humantier10chest" },
	    { "item" : "humantier10head" },
	    { "item" : "humantier10pants" },
	    { "item" : "ironbar" },
	    { "item" : "ironbeacon" },
	    { "item" : "jetpackTech-chip" },
	    { "item" : "humanMechTech-chip" },
	    { "item" : "moltencore" },
	    { "item" : "morphballTech-chip" },
	    { "item" : "peanutbutter" },
	    { "item" : "platinumbar" },
	    { "item" : "processor" },
	    { "item" : "randblinktech-chip" },
	    { "item" : "redstim" },
	    { "item" : "robot" },
	    { "item" : "rocketjump-chip" },
	    { "item" : "silverbar" },
	    { "item" : "skyrail-chip" },
		{ "item" : "superfishaxe" },
	    { "item" : "targetblinktech-chip" },
	    { "item" : "techupgrade32" },
	    { "item" : "techupgrade33" },
	    { "item" : "techupgrade34" },
	    { "item" : "techupgrade35" },
	    { "item" : "techupgrade36" },
	    { "item" : "techupgrade37" },
	    { "item" : "tier2engine" },
	    { "item" : "tier3engine" },
	    { "item" : "tier4engine" },
	    { "item" : "titaniumbar" },
	    { "item" : "torch" },
	    { "item" : "voxel1k" },
	    { "item" : "voxel2k" },
	    { "item" : "voxel5k" },
	    { "item" : "voxel10k" },
	    { "item" : "yellowstim" },
	    { "item" : "money" }
	]
 }
}