{
  "defaultHumanoidIdentity" : {
    "gender" : "Male",
    "hairType" : "male2",
    "color" : [51, 117, 237, 255]
  },

  "species" : [ "human", "glitch", "hylotl", "apex", "avian", "floran" ],

  "humanoidTiming" : {
    // Idle, Walk, Run, Jump, Fall, Swim, SwimIdle, Duck, Sit, Lay
    "stateCycle" : [1.0, 0.75, 0.75, 0.25, 0.25, 0.50, 0.50, 1.0, 1.0, 1.0],
    "stateFrames" : [1, 8, 8, 4, 4, 7, 2, 1, 1, 1],

    // EmoteIdle, Blabbering, Shouting, Happy, Sad, NEUTRAL, Laugh, Annoyed, Oh, OOOH, Blink, Wink Eat Sleep
    //          , normal    , caps    , :)   , :'(, :|     , :D   ,        , :o, :O  ,      , ;)
    "emoteCycle" : [1.0, 0.3, 0.3, 0.3, 1.0, 0.3, 0.5, 1.0, 1.0, 1.0, 1.0, 0.5, 0.3, 1.0],
    "emoteFrames" : [1, 2, 2, 2, 5, 2, 2, 2, 2, 3, 3, 5, 2, 2]
  },

  "defaultItems" : [ ],

  "tierBlueprintsUnlockedMessage" : "New blueprints have been unlocked.",
  "blueprintOnPickupMessage" : "New blueprint available.",
  "defaultBlueprints" : {
    "tier1" : [
      { "item" : "mininglantern" },
      { "item" : "copperarmorhead" },
      { "item" : "copperarmorchest" },
      { "item" : "copperarmorpants" },
      { "item" : "darkwoodmaterial" },
      { "item" : "yarnspinner" },
      { "item" : "campfire" },
      { "item" : "platform" },
      { "item" : "torch" },
      { "item" : "woodencraftingtable1" },
      { "item" : "fence" },
      { "item" : "stoneaxe" },
      { "item" : "stonehoe" },
      { "item" : "stonepickaxe" },
      { "item" : "woodenbed" },
      { "item" : "woodenchair" },
      { "item" : "woodencrate1" },
      { "item" : "woodencrate2" },
      { "item" : "woodendoor" },
      { "item" : "woodengate" },
      { "item" : "woodsupport" },
      { "item" : "woodtable" },
      { "item" : "woodenstonefurnacetable" },
      { "item" : "tier1chair" },
      { "item" : "tier1door" },
      { "item" : "tier1light" },
      { "item" : "tier1bed" },
      { "item" : "ironanvil" },
      { "item" : "ironblock" },
      { "item" : "cobblestonebrick" },
      { "item" : "ironbeacon" },
      { "item" : "copperpickaxe" },
      { "item" : "silverpickaxe" },
      { "item" : "goldpickaxe" },
      { "item" : "platinumpickaxe" },
      { "item" : "diamondpickaxe" },
      { "item" : "stonefurnace" },
      { "item" : "glassmaterial" },
      { "item" : "woodenwindow1" },
      { "item" : "woodenwindow2" },
      { "item" : "woodencookingtable" },
      { "item" : "fabric" },
      { "item" : "packeddirt" },
      { "item" : "metalworkstation" },
      { "item" : "reddye" },
      { "item" : "bluedye" },
      { "item" : "yellowdye" },
      { "item" : "tier2engine" },
      { "item" : "bow" },
      { "item" : "ironbow" },
      { "item" : "bandage" },
      { "item" : "snowinfantryhead" },
      { "item" : "snowinfantrychest" },
      { "item" : "snowinfantrypants" },
      { "item" : "huntingknife" },
      { "item" : "climbingrope" },
      { "item" : "generatedshield", "count" : 1, "data" : { "definition" : "startershield", "level" : 1 } },

      // XMAS STUFF
      { "item" : "mrclaushead" },
      { "item" : "mrclauschest" },
      { "item" : "mrclauspants" },
      { "item" : "hotholidayhead" },
      { "item" : "hotholidaychest" },
      { "item" : "hotholidaypants" },
      { "item" : "candyblock" },
      { "item" : "holidaycraftingtable" },
      { "item" : "bigpresent" },
      { "item" : "decoratedtree" },
      { "item" : "dreidel" },
      { "item" : "giantbells" },
      { "item" : "giantbow1" },
      { "item" : "giantbow2" },
      { "item" : "giantsanta" },
      { "item" : "giantsnowflake" },
      { "item" : "giftmonsterbox" },
      { "item" : "giftmonstersmallbox" },
      { "item" : "goldball" },
      { "item" : "greencandycane1" },
      { "item" : "greencandycane2" },
      { "item" : "greencandycane3" },
      { "item" : "greengumdrop1" },
      { "item" : "greengumdrop2" },
      { "item" : "holidaycandles" },
      { "item" : "holidaylights" },
      { "item" : "holidaypole" },
      { "item" : "holly" },
      { "item" : "lollipop1" },
      { "item" : "lollipop2" },
      { "item" : "menorah" },
      { "item" : "present1" },
      { "item" : "present2" },
      { "item" : "present3" },
      { "item" : "present4" },
      { "item" : "purplegumdrop1" },
      { "item" : "purplegumdrop2" },
      { "item" : "redball" },
      { "item" : "redcandycane1" },
      { "item" : "redcandycane2" },
      { "item" : "redcandycane3" },
      { "item" : "redgumdrop1" },
      { "item" : "redgumdrop2" },
      { "item" : "scifisleigh" },
      { "item" : "smallbow" },
      { "item" : "smallholidaytree" },
      { "item" : "smallsnowflake" },
      { "item" : "stocking1" },
      { "item" : "stocking2" },
      { "item" : "undecoratedtree" }
    ],
    "tier2" : [
      { "item" : "silverarmorhead" },
      { "item" : "silverarmorchest" },
      { "item" : "silverarmorpants" },
      { "item" : "steelbar" },
      { "item" : "mediummetal" },
      { "item" : "chain" },
      { "item" : "roboticcraftingtable" },
      { "item" : "refinery" },
      { "item" : "steelbow" },
      { "item" : "tier2chair" },
      { "item" : "tier2door" },
      { "item" : "tier2light" },
      { "item" : "tier2bed" },
      { "item" : "brainextractor" },
      { "item" : "artificialbrain" },
      { "item" : "robothead" },
      { "item" : "robotchest" },
      { "item" : "robotlegs" },
      { "item" : "robotarms" },
      { "item" : "tier3engine" },
      { "item" : "spawnerguard" },
      { "item" : "robot" },
      { "item" : "voxel1k" },
      { "item" : "voxel2k" },
      { "item" : "voxel5k" },
      { "item" : "voxel10k" },
      { "item" : "pixelcompressor" },
      { "item" : "lanternstickback" },
      { "item" : "portable3dprinter" }
    ],
    "tier3" : [
      { "item" : "goldarmorhead" },
      { "item" : "goldarmorchest" },
      { "item" : "goldarmorpants" },
      { "item" : "composite01material" },
      { "item" : "painttool" },
      { "item" : "wiretool" },
      { "item" : "tier3chair" },
      { "item" : "tier3door" },
      { "item" : "tier3light" },
      { "item" : "tier3bed" },
      { "item" : "decoyprincess" },
      { "item" : "wiringstation" },
      { "item" : "laserdiode" },
      { "item" : "circuitboard" },
      { "item" : "alarm" },
      { "item" : "drain" },
      { "item" : "largefloorbutton" },
      { "item" : "lightsensor" },
      { "item" : "pressureplate" },
      { "item" : "smallfloorbutton" },
      { "item" : "smallwallbutton" },
      { "item" : "and" },
      { "item" : "bulb" },
      { "item" : "dlatch" },
      { "item" : "not" },
      { "item" : "or" },
      { "item" : "timer" },
      { "item" : "xor" },
      { "item" : "standingturret" },
      { "item" : "tier4engine" },
      { "item" : "spaceairtankback" }
    ],
    "tier4" : [
      { "item" : "bonusarmorhead" },
      { "item" : "bonusarmorchest" },
      { "item" : "bonusarmorpants" },
      { "item" : "durasteelbar" },
      { "item" : "tier4chair" },
      { "item" : "tier4door" },
      { "item" : "tier4light" },
      { "item" : "tier4bed" },
      { "item" : "techupgrade32" },
      { "item" : "capturepod" },
      { "item" : "capturestation" },
      { "item" : "copperdrill" },
      { "item" : "silverdrill" },
      { "item" : "golddrill" },
      { "item" : "platinumdrill" },
      { "item" : "diamonddrill" },
      { "item" : "grapplinghook" },
      { "item" : "peanutbutter" },
      { "item" : "skyrailplatform" },
      { "item" : "skyrailTech-chip" }
    ],
    "level32" : [
      { "item" : "platinumarmorhead" },
      { "item" : "platinumarmorchest" },
      { "item" : "platinumarmorpants" },
      { "item" : "tier5chair" },
      { "item" : "tier5door" },
      { "item" : "tier5light" },
      { "item" : "tier5bed" },
      { "item" : "techupgrade33" }
    ],
    "level33" : [
      { "item" : "Feroziumbar" },
      { "item" : "tier6chair" },
      { "item" : "tier6door" },
      { "item" : "tier6light" },
      { "item" : "tier6bed" },
      { "item" : "techupgrade34" }
    ],
    "level34" : [
      { "item" : "tier7chair" },
      { "item" : "tier7door" },
      { "item" : "tier7light" },
      { "item" : "tier7bed" },
      { "item" : "techupgrade35" }
    ],
    "level35" : [
      { "item" : "Violiumbar" },
      { "item" : "tier8chair" },
      { "item" : "tier8door" },
      { "item" : "tier8light" },
      { "item" : "tier8bed" },
      { "item" : "techupgrade36" }
    ],
    "level36" : [
      { "item" : "tier9chair" },
      { "item" : "tier9door" },
      { "item" : "tier9light" },
      { "item" : "tier9bed" },
      { "item" : "techupgrade37" }
    ],
    "level37" : [
      { "item" : "imperviumbar" },
      { "item" : "tier10chair" },
      { "item" : "tier10door" },
      { "item" : "tier10light" },
      { "item" : "tier10bed" }
    ],
    "portable3dprinter" : [
      { "item" : "futurelight" },
      { "item" : "modernplatform" },
      { "item" : "modernchair" },
      { "item" : "moderntable" },
      { "item" : "slidingdoor" },
      { "item" : "techhull1" },
      { "item" : "metallicmaterial" },
      { "item" : "apexshipwall" },
      { "item" : "lightmetal" },
      { "item" : "mediummetal" },
      { "item" : "platematerial" },
      { "item" : "redtoyblock" },
      { "item" : "smoothmetal" },
      { "item" : "nanowrap" },
      { "item" : "nanostove" },
	  { "item" : "portableteleporter" }
    ]
  },

  "visibleRect" : [-1.0, -2.5, 1.0, 1.75],

  "techControllerSettings" : {
    "baseMovementParameters" : {
      "standingPoly" : [ [-0.75, -2.0], [-0.35, -2.5], [0.35, -2.5], [0.75, -2.0], [0.75, 0.65], [0.35, 1.22], [-0.35, 1.22], [-0.75, 0.65] ],
      "crouchingPoly" : [ [-0.75, -2.0], [-0.35, -2.5], [0.35, -2.5], [0.75, -2.0], [0.75, -1], [0.35, -0.5], [-0.35, -0.5], [-0.75, -1] ],
      "airFriction" : 0.2,
      "mass" : 0.6,

      // should keep the player from teleporting through walls
      "maximumCorrection" : 1,
      "maxMovementPerStep" : 0.4
    }
  },

  "maxHealth" : 100.0,
  "maxEnergy" : 100.0,
  "maxFood" : 100.0,
  "maxBreath" : 100.0,

  "energyReplenishmentRate" : 10.0,
  "foodDepletionRate" : 0.0425,

  "breathReplenishmentRate" : 20,
  "breathDepletionRate" : 2,

  "lightStrength" : 1.0,

  "footstepTiming" : 0.35,
  "footstepSensor" : [0, -3.1],

  "fallDamageFactor" : 2,
  "minimumFallTime" : 1.0,
  "minimumFallDamageDelta" : 70.0,
  "minimumFallSpeed" : -2.0,

  "vaporTrailTime" : 10,
  "terminalVelocityDifference" : 1.01,
  "bottomOfWorldTouchMargin" : 4,

  "interactRadius" : 5.5,
  "walkIntoInteractBias" : [1, 0],

  "initialBeamGunRadius" : 15.5,
  "previewGlowBorder" : 2,
  "objectPreviewInnerAlpha" : 0.8,
  "objectPreviewOuterAlpha" : 0.2,

  "beamGunSettings" : {
    "image" : "/humanoid/any/gravgun1.png",
    "endImages" : [ "/humanoid/any/ball.png", "/humanoid/any/tileglow.png", "/humanoid/any/4tileglow.png" ],
    "handPosition" : [-2, 0],
    "firePosition" : [5, 0],
    "segmentsPerUnit" : 1,
    "nearControlPointElasticity" : 0.1,
    "farControlPointElasticity" : 0.9,
    "nearControlPointDistance" : 0.9,
    "targetSegmentRun" : 1,
    "innerBrightnessScale" : 20,
    "firstStripeThickness" : 0.2,
    "secondStripeThickness" : 0.05,
    "minBeamWidth" : 1,
    "maxBeamWidth" : 5,
    "maxBeamJitter" : 0.06,
    "minBeamJitter" : 0.0,
    "minBeamTrans" : 0.1,
    "maxBeamTrans" : 0.4,
    "minBeamLines" : 1,
    "maxBeamLines" : 5
  },

  "underwaterSensor" : [0.0, 0.5],
  "underwaterMinWaterLevel" : 0.4,

  "splashConfig" : {
    "splashSpeedMin" : 10.0,
    "splashMinWaterLevel" : 0.4,
    "splashBottomSensor" : [0, -2.0],
    "splashTopSensor" : [0, 2.0],
    "numSplashParticles" : 8,
    "splashYVelocityFactor" : 0.2,

    "splashParticle" : {
      "type" : "ember",
      "position" : [0, -1],
      "finalVelocity" : [0, -20],
      "approach" : [0, 50],
      "color" : [60, 150, 224, 100],
      "size" : 1.0,
      "timeToLive" : 0.5,
      "destructionAction" : "shrink",
      "destructionTime" : 0.2
    },

    "splashParticleVariance" : {
      "velocity" : [10, 0],
      "size" : 2.0
    }
  },

  "teleportInTime" : 1.0,
  "teleportInBase" : "/humanoid/any/playerwarpin.png",
  "teleportInBeam" : "/humanoid/any/playerwarpinbeam.png",
  "teleportInFrames" : 16,

  "teleportOutTime" : 0.75,
  "teleportOutBase" : "/humanoid/any/playerwarpout.png",
  "teleportOutBeam" : "/humanoid/any/playerwarpoutbeam.png",
  "teleportOutFrames" : 12,

  "teleportHeight" : 43.0,
  "teleportBeamHeight" : 8,
  "teleportTallness" : 30,

  // 50mins @ 5C = 15000sec/1C
  "warmthTransferRate" : 1000.0,
  "warmthTransferRateCap" : 1000.0,
  "comfortRegen" : 2.0,
  "bodyTemperatureRangeLow" : [5, 99999],
  "windChillFactor" : 10,
  "idealTemperature" : 25,

  "maxOverlayPercent" : 0.8,
  "freezeOverlayColor" : [175, 175, 255],

  "nametagOpacityRate" : 0.01,
  "nametagOffset" : [0, 2],
  "nametagColor" : "white",
  "nametagFontSize" : 7,
  "nametagOpacityBoost" : 3,

  "emoteCooldown" : 2,
  "blinkInterval" : [5, 30],

  "damageConfig" : "/damage/damageresponse/default.config",
  "bodyMaterialKind" : "organic",

  "reviveCost" : {
    "absolute" : 1,
    "percentile" : 30.0
  }
}
